<div class="container">
    <h1>Search by Summoner Name</h1>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" onclick="CallAPI.callSOmething"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
