<div class="container">
    <h3>Search by Summoner Name</h3>
    <form>
        <div class="input-group">           
            <div class="input-group-btn">
                <input type="text" class="form-control" placeholder="Search" name="search" id="searchByUserName">
                <button class="btn btn-default" type="submit" onclick="CallAPI();"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>

    <div id="log"></div>
</div>
